<div>
    <h2>
        <span>Vehicles</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary float-right jh-create-entity create-vehicle"
                [routerLink]="['/', { outlets: { popup: ['vehicle-new'] } }]">
            <span class="fa fa-plus"></span>
            <span>
            Create new Vehicle
            </span>
        </button>
        <button [hidden]="editFleetActive" (click)="toggleEditFleet()" class="btn btn-primary float-right">
            <span class="fa fa-plus"></span>
            <span>
            Edit my Fleet
            </span>
        </button>
        <button type="submit" [disabled]="isSaving" [hidden]="!editFleetActive"
                class="btn btn-primary float-right" (click)="saveEditVehicles()">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
        <button type="button" class="btn btn-secondary float-right" data-dismiss="modal" [hidden]="!editFleetActive"
                (click)="resetEditVehicles()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="vehicles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                <th jhiSortBy="manufacturer"><span>Manufacturer</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="model"><span>Model</span> <span class="fa fa-sort"></span></th>
                <th><span>Owned By Me</span></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0">
            <tr *ngFor="let vehicle of vehicles ;trackBy: trackId">
                <td>{{vehicle.manufacturer}}</td>
                <td><a href="{{vehicle.url}}">{{vehicle.model}}</a></td>
                <td>
                    <span class="fa fa-check" style="color: green" [hidden]="!vehicle.ownedByUser"></span>
                    <span class="fa fa-close" [hidden]="vehicle.ownedByUser"></span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../vehicle', vehicle.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vehicle/'+ vehicle.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vehicle/'+ vehicle.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
</div>
